extends layout
block titre
    h2 #{tab_produits.nom}

block content
    .paraph
        .produitDetail
            p
                img(src='#{tab_produits.image}', alt='non disponible', height='200', width='200')
                ul
                    li  Prix : &nbsp;
                        b #{tab_produits.prix} €
                    li Catégorie : #{tab_produits.categorie}
            p.p_desc Description : #{tab_produits.description}

            a(href="/produits/editerProduit/" + tab_produits.id) Editer le produit
            br
            a(href="/produits/supprimerProduit/" + tab_produits.id) Supprimer le produit