doctype html
html(lang='fr')
  head
    title Arnaque.com
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    #corps
      header
        a(href="/")
          img(src='http://www.kalipub.com/medias/images/arnaque.cr.ation.site.web.png', alt='non disponible', height='100', width='100')

        h1 Arnaque.com

        nav
          ul
            li
              a(href="/") Accueil
            li
              a(href="/produits") Produit
            li
              a(href="/produits/categories") Catégories
            li
              a(href="/produits/recherche") Recherche
            if login
              li
                a(href="/utilisateur/panier") Mon panier
              li
                a(href="/login/home") #{utilisateur.pseudo}
              li
                a(href="/login/logout") Déconnexion
            else
              li
                a(href="/login") Connexion
      #gauche
        p
          toto-------------------------------------------------------------
          if utilisateur != undefined
            p #{utilisateur.pseudo}
        p
          utilisateur.pseudo
      #droite
        if aleatoireProd!=undefined
          for produit,i in aleatoireProd
            .navProd
              a(href="/produits/detail/"+produit.id)
                .navHeader
                  h3 #{produit.nom}
                  p
                  img(src='#{produit.image}', alt='non disponible', height='100', width='100')
                  ul
                    li  Prix : &nbsp;
                      b #{produit.prix} €
      #main
        block titre
        block content
      footer
        p Site e-commerce, créé par Alifierakis Stelio et Riso Samuel
        p Troisième Bachelier en Informatique & systèmes
        p finalité réseaux & télécommunications
        p Année Académique 2016-2017, HEH Campus Technique
        p © 2016, Arnaque.com





