extends layout
block titre
  h2 Mon panier
block content
  if tab_panier!=undefined && tab_panier.length!=0
    for paniers in tab_panier
      if paniers.statut == "en cours"
        if paniers.total>0
          p
            for prod in paniers.produit
              .produitPanier
                .headerProduit
                  h3 Produit : #{prod.produit.nom}
                p
                  img(src='#{prod.produit.image}', alt='non disponible', height='100', width='100')
                .contentPanier
                  .contentPanier1
                    ul
                      li  Prix/unité : #{prod.produit.prix}
                      li  Quantités : #{prod.quantite}
                  .contentPanier2
                    ul
                      li
                        a(href="/produits/detail/" + prod.produit._id) Changer la commande
                      li
                        a(href="/utilisateur/SuppProdPanier/" + prod.produit.id) Supprimer
          .panierTotaux
            .totauxLeft
              p Total : #{paniers.total} €
            .totauxRight
              ul
                li#payer
                  a(href="/utilisateur/PayerPanier") Payer les marchandises
                li
                  a(href="/utilisateur/AnnulPanier") Annuler le panier
        else
          p Vous n'avez aucun article dans votre panier
  else
    p Vous n'avez aucun panier
  .produitPanier
    .headerPanier
      h4 Historique des paniers
    for paniers2 in tab_panier
      if paniers2.statut != "en cours"
        .total
          p Panier du #{paniers2.date}
          p Total : #{paniers2.total} €
          p Statut : #{paniers2.statut}
          if paniers2.statut == "annulé" && panierEnCours == undefined
            a(href="/utilisateur/AnnulPanier/" + paniers2._id) Reprendre la commande

