extends layout
block titre
  h2 Produits

block content
  p layout des produits

  p
    a(href="/utilisateur/creerProduit") Ajouter un produit

  for produit,i in tab_produits
    .produit
      .headerProduit
        h3 #{produit.nom}
      p
        img(src='#{produit.image}', alt='non disponible', height='75', width='75')
        ul
          li Prix : #{produit.prix} €
          li Catégorie : #{produit.categorie}
      p.p_desc Description : #{produit.description}

      a(href="/produit/editerProduit/" + produit.id) Editer le produit
      br
      a(href="/produit/supprimerProduit/" + produit.id) Supprimer le produit